/** {
	border: 1px solid red;
}
*/

.epiceditors {
  height: 349px;
  border:1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.75) 0 2px 5px;
  border-radius: 3px;
  margin-top: 20px;

}
body {
    font-family: 'Vollkorn', sans-serif;	
    font-size: 14px;
  }
  
 .brand {
 	font-size: 48px;
 }

/*.container > footer p {
	margin: 0 auto;
}*/
  
.container {
	margin: 0 auto;
}

.main-container {
	margin-top: 60px;
	/*margin: 0 auto;*/
}

.sidebar-right {
}

.brand {
	margin: 0 auto;
}

input, textarea {
    font-family: 'Vollkorn', sans-serif;	
    font-size: 18px;
}


.questions ul {
	list-style-type: none;
	margin-left: 0;
}

.question li {
	border: 1px dotted #999;
	border-top: none;
	border-width: 1px 0;
}

.question li a {
	color: #990000;
	display: block;
    font: bold 120% Vollkorn, sans-serif;
    padding: 0px;
    text-decoration: none;
}

.question li a:hover {
        background: #ffffcc;
}

.question a em { 
        color: #333;
        display: block;
        font: normal 85% Vollkorn, sans-serif;
        line-height: 125%; 
}

.question a span {
        color: #125F15;
        font: normal 70% Vollkorn, sans-serif;
        line-height: 150%;
}
